.header{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 6rem;
  padding-inline: 1rem;
  z-index: 1000;
}

.logo{
  font-weight: bold;
}

.navbarUl{
  display: flex;
  align-items: center;
  gap: 5rem;

  & a{
    transition: .2s ease-in-out;

    &:hover{
      color: #2b2b2b;
    }
  }
}

.logInButton{
  width: 10rem;
  height: 3rem;
  border: 3px solid blueviolet;
  border-radius: 1rem;
  transition: .2s ease-in-out;

  &:hover{
    background: blueviolet;
    color: white;
  }
}

@media (width <= 830px) {
  .header{
    justify-content: center;
    column-gap: 8rem;
    row-gap: .5rem;
  }

  .logo{
    order: 1;
  }

  .navbar{
    order: 3;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .navbarUl{
    gap: 1.5rem;
    justify-content: center;
  }

  .logInButton{
    order: 2;
    width: 8rem;
    height: 2.5rem;
  }
}